
@{
    ViewData["title"] = "Course Details";

}
@model Manisai_WEB_MVC.Models.Coursemaster
<h3>Course Details</h3>
Course ID   : @Model.Id
Course Name : @Model.Coursename <br/>
Description : @Model.Coursename <br/>
Duration    : @Model.Duration <br/>
Modules     : @Model.Modules   <br/>
 
<a href="/Course/Index">Go Back </a>
